.casilla{
  background: rgb(250, 239, 243);
  border: 2px solid #111;
  padding: 0;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size:50px;
  font-weight: bold;
  line-height: 60px;
}
.casilla:focus{
  outline:none;
} 

.title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-shadow: 1px 2px 4px #111;
  font-size: 55px;
}

.result{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-shadow: 1px 1px 2px #222;
  font-size: 18px;
  margin-left: 23px;
}
.button-begin{
  margin-left: 13px;
  font-weight: bold;
  font-size: 19px;
}

.list-button{
  list-style: none;
}

.button-result{
  font-weight: bold;
  font-size:17px;
  margin-left:28px;
}

